

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label for="firstname" class="form-label">Firstname:</label>
  <input type="text" class="form-control" id="firstname" formControlName="firstname" 
  [ngClass]="{
 'is-invalid': form.controls['firstname'].invalid && form.controls['firstname'].dirty,
 'is-valid': form.controls['firstname'].valid && form.controls['firstname'].dirty}">
  </div>
  <div class="form-group">
  <label for="lastname" class="form-label">Laststname:</label>
  <input type="text" class="form-control" id="lastname" formControlName="lastname"  [ngClass]="{
 'is-invalid': form.controls['lastname'].invalid && form.controls['lastname'].dirty,
 'is-valid': form.controls['lastname'].valid && form.controls['lastname'].dirty}">
  </div>
  <div class="form-group">
  <label for="email" class="form-label">Email:</label>
  <input type="text" class="form-control" id="email" formControlName="email"  >
  <span class="text-danger" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
 A-Mail-address is not valid!
 </span>
  </div>
  <br>
  <button type="submit"class="btn btn-primary" >OK</button>
  &nbsp;
   <button class="btn btn-success" (onclick)="onCancel()">Cancel</button>
</form>

