<div class="class">
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" #email>
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" #password>
  </div>
  
  <button type="button" class="btn btn-primary" (click)="onSubmit(email,password)">Login</button>
  &nbsp;
  <button type="button" class="btn btn-secondary" (click)="email.value=''; password.value='';
  ">Clear</button>
</form>
<br>
<div class="alert alert-danger" role="alert" *ngIf="login_failed"> Email or Password is falsch!</div>
</div>